body{
    border: 1px solid black;
    align-items: center;
    width: 50%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: larger;

}
header{
    border: 1px solid black;
    background-color: rgb(184, 230, 220);
    text-align: center;
    padding: 15px;
    max-width: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-style: italic;
}
a {
    color: black;
    font-size: large;
}
a:hover{
    font-size: larger;
    color: grey;
    background-color: azure;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
nav{
    border: 1px solid black;
    background-color: rgb(212, 224, 228);
    text-align: center;
    padding: 15px;
    gap: 30px;
    display: flex;
    justify-content: center;
}
main #home{
    border: 1px solid black;
    background-color: rgb(212, 239, 243);
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: normal;
}
main #about{
    border: 1px solid black;
    background-color: rgb(212, 239, 243);
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
main #about ul li{
    list-style: none;
}
main #projects{
    border: 1px solid black;
    background-color: rgb(212, 239, 243);
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
main #contact{
    border: 1px solid black;
    background-color: rgb(212, 239, 243);
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
footer{
    text-align: center;
    font-size: small;
    background-color: darkgray;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}